* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    background: url(knit.png) repeat 0 0;
    margin-top: 43px;
    margin-bottom: 150px;
    clear: both;
}

.container{
    margin-right:auto;
    margin-left:auto;
}

.header{
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.72);
    margin-top: -43px;
    z-index: 1;
}

.logo{
    width: 35px;
    height: 35px;
    background: url(logo.gif) no-repeat;
    background-size: contain;
}

.headerLogo{
    float: left;
    padding: 3px 8px 3px 8px;
    margin-right: 0px;
    transition: color 0.1s ease-in;
    opacity: 0.5;
    white-space: nowrap;
}

.headerLogo:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: darkorange;
}

.usersOnline{
    float: left;
    width: 165px;
    height: 41px;
    margin-right: 7px;
    text-align: center;
    line-height: 40px;
    padding-left: 5px;
    font-weight: bold;
    padding-right: 6px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.15),1px 0 0 rgba(255,255,255,0.15);
}

.usersOnline:hover{
    background-color: rgba(224, 118, 109, 0.79);
}

.online{
    display: inline-block;
    padding-top: 0px;
    width: 34px;
    font-size: 15px;
    color: #f3f3f3;
    background-color: #A7A7A7;
    line-height: 20px;
    border-radius: 7px;
}

.userNav{
    overflow: hidden;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    color: #333333;
}

#chatForm {
    background: #5C5C5C;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.username{
    float: left;
    margin: 4px 20px 0px 8px;
    line-height: 22px;
}

#clearLog{
    float: left;
    margin: 5px 20px 0px 0px;
}

#searchDiv{
    float: right;
    margin-right: 5px;
}

#username{
    padding-left: 10px;
    height: 30px;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #C4C4C4;
    overflow: hidden;
}

#search{
    padding-left: 10px;
    height: 30px;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #C4C4C4;
    overflow: hidden;
}

#errorDiv{
    color:red;
    font-weight:bold;
}

/*----- Chats -----*/

.me {
    text-align: right;
}

.me > div {
    margin: 10px;
    text-align: left;
    box-shadow: 0 0 1px 2px #5ACCB1 ;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 510px;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 3px;
    background-color: rgba(105, 105, 105, 0.3);
}

.others{
    text-align: left;
}

.others > div{
    margin: 10px;
    text-align: right;
    box-shadow: 0 0 1px 2px rgba(61, 209, 61, 0.72);
    padding: 10px;
    max-width: 510px;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0.59);
}

.notice{
    background-color: rgba(68, 68, 68, 0.48);
    color: rgba(243, 243, 243, 1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #818181 inset;
}

.loadButton{
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.48);
    color: rgba(138, 138, 138, 0.61);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #919191 inset;
}

.loadButton:hover{
    cursor: pointer;
    background-color: rgba(90, 204, 177, .6);
    color: rgba(0, 0, 0, 0.61);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #919191 inset;
}

.unavailable:hover{
    background-color: rgba(255, 55, 55, 0.24);
}

#messages div {
    width: 100%;
}

footer {
    box-shadow: 0 0 0px 3px #5ACCB1;
    background: url(debutDark.png) repeat 0 0;
    height: 70px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#soundFooter{
    box-shadow: 0 0 0px 3px #CC5A5A;
}

#submit:hover {
    opacity: .5;
}

#m {
    border: 0;
    padding: 10px;
    width: 80%;
    height: 92%;
    margin-right: .5%;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
}

#submit {
    width: 18%;
    height: 52px;
    float: right;
    text-align: center;
    background-color: #4AB471;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    margin-top: -2px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

/*---------------------------------------------
-------------------- Sounds -------------------
---------------------------------------------*/
#groupListPlaceHolder{
    text-align: center;
    color: #777;
}

#sounds li{
    overflow: hidden;
}

#sounds li .glyphicon {
    padding-right: 5px;
    cursor:pointer;
}

#sounds li:nth-child(even) {
    background-color: rgba(0, 158, 82, 0.29)
}

#trackText {
    float: left;
    width: 80%;
}


#addControl{
    opacity: 0;
    float: right;
    font-size: 27px;
    margin: -9px -13px -15px 0px;
    padding: 2px;
    background-color: rgba(95, 155, 160, 0);
}

#sounds li:hover #addControl{
    opacity: 1;
}

#sounds li:nth-child(odd) #addControl {
    color: rgba(0, 158, 82, 0.29);
}

#groupList{
    list-style: none;
}

.media-object {
    width: 50px;
}

#voteConsole{
    float: right;
    border-radius: 100px;
    width: auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 4px 1px 4px;
    margin-right: 15px;
    background-color: rgba(255, 128, 68, 0.53);
}

#row{
    margin: 25px 12px 0px 12px;
}

.playBar{
    background-color: rgba(173, 173, 173, 0.55);
    border-radius: 5px;
    height: 50px;
    font-size: 27px;
    background: linear-gradient(to bottom, rgba(207, 207, 207, 0.58) 0%,rgba(134, 134, 134, 0.54) 100%);
}

.playControl{
    padding-top: 8px;
    color: rgba(0, 0, 0, 0.83);
    cursor: pointer;
}

.well {
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.groupListDescription{
    color: #858585;
}

.upVote{
    cursor: pointer;
}

.selectedVote{
    color: white;
}

.downVote{
    cursor: pointer;
}

#removeDiv{
    font-size:17px;
}

#removeDiv > span{
    float: right;
    margin: 2px 2px 1px 0px;
    cursor: pointer;
}

.media > .indexContainer{
    width: auto;
    background-color: rgba(0, 0, 0, 0.32);
    margin-right: 0px;
    height: 50px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    display: inline-block;
    border-top-left-radius: 3px;
    color: rgb(236, 236, 236);
    font-size: 28px;
    border-bottom-left-radius: 28px;
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
}
.media.userTrack > a > .media-object{
    width: 70px;
}

.media.userTrack > .indexContainer{
    height: 70px;
    background: linear-gradient(to right, rgba(207, 72, 72, 1) 0%,rgba(128, 0, 0, 1) 100%);
    background: rgb(96,108,136); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(207, 72, 72, 1) 0%, rgba(128, 0, 0, 1)  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(207, 72, 72, 1) 0%,rgba(128, 0, 0, 1)  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(207, 72, 72, 1) 0%,rgba(128, 0, 0, 1)  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(207, 72, 72, 1) 0%,rgba(128, 0, 0, 1)  100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(207, 72, 72, 1) 0%,rgba(128, 0, 0, 1)  100%); /* W3C */
}

/*---------------------------------------------
------------------ BootStrap ------------------
---------------------------------------------*/

.carousel-control{
    position: fixed;
    opacity: .3;
    width: 30px;
}

.carousel-control:hover, .carousel-control:focus {
    opacity: .5;
}

.media.well.well-sm{
    /*box-shadow: 3px 3px 3px #757575;*/
}

/*---------------------------------------------
------------------ ScrollBar ------------------
---------------------------------------------*/

/*::-webkit-scrollbar {
    width: 10px;
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: #626262;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(90, 204, 177);
}*/