* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    background: url(knit.png) repeat 0 0;
    margin-top: 43px;
    margin-bottom: 150px;
    clear: both;
}

.container{
    margin-right:auto;
    margin-left:auto;
}


.header{
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.logo{
    width: 35px;
    height: 35px;
    background: url(logo.gif) no-repeat;
    background-size: contain;
}

.headerLogo{
    float: left;
    padding: 3px 8px 3px 8px;
    margin-right: 0px;
    transition: color 0.1s ease-in;
    opacity: 0.5;
    white-space: nowrap;
}

.headerLogo:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: darkorange;
}

.usersOnline{
    float: left;
    width: 165px;
    height: 41px;
    margin-right: 7px;
    text-align: center;
    line-height: 40px;
    padding-left: 5px;
    font-weight: bold;
    padding-right: 6px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.15),1px 0 0 rgba(255,255,255,0.15);
}

.usersOnline:hover{
    background-color: rgba(224, 118, 109, 0.79);
}

.online{
    display: inline-block;
    padding-top: 0px;
    width: 34px;
    font-size: 15px;
    color: #f3f3f3;
    background-color: #A7A7A7;
    line-height: 20px;
    border-radius: 7px;
}

.userNav{
    overflow: hidden;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    color: #333333;
}

#chatForm {
    background: #5C5C5C;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.username{
    float: left;
    margin: 4px 20px 0px 8px;
    line-height: 22px;
}

#clearLog{
    float: left;
    margin: 5px 20px 0px 0px;
}

#searchDiv{
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    font-size: 15px;
}

@media (max-width: 750px) {
    #searchDiv-sm {
        float: none;
        margin-top: 15px;
        margin-right: 5px;
        font-size: 15px;
    }
}

#username{
    padding-left: 10px;
    height: 30px;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #C4C4C4;
    overflow: hidden;
}

#search{
    padding-left: 10px;
    height: 30px;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #C4C4C4;
    overflow: hidden;
}

#errorDiv{
    color:red;
    font-weight:bold;
}

/*----- Chats -----*/

#userListCol{
    padding-right:0px;
}

#onlineUsersPanel{
    font-weight: bold;
}

#onlineUsersPanel > .panel-body{
    padding: 3px;
}

#onlineUsersList {
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px #000000;
    color: white;
}

#chatPanel {
    background-color: rgba(255, 255, 255, 0.61);
}

#chatPanel > .panel-body{
    padding:0px;
}

.me {
    text-align: right;
}

.me > div {
    margin: 10px;
    text-align: left;
    box-shadow: 0 0 1px 2px #5ACCB1 ;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 510px;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 3px;
    background-color: rgba(194, 194, 194, 0.3);
}

.others{
    text-align: left;
}

.others > div{
    margin: 10px;
    text-align: right;
    box-shadow: 0 0 1px 2px rgba(61, 209, 61, 0.72);
    padding: 10px;
    max-width: 510px;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0.59);
}

.notice{
    background-color: rgba(68, 68, 68, 0.48);
    color: rgba(243, 243, 243, 1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #818181 inset;
}

.loadButton{
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.48);
    color: rgba(138, 138, 138, 0.61);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #919191 inset;
}

.loadButton:hover{
    cursor: pointer;
    background-color: rgba(90, 204, 177, .6);
    color: rgba(0, 0, 0, 0.61);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #919191 inset;
}

.unavailable:hover{
    background-color: rgba(255, 55, 55, 0.24);
}

#messages div {
    width: 100%;
}

footer {
    box-shadow: 0 0 0px 3px #5ACCB1;
    background: url(debutDark.png) repeat 0 0;
    height: 70px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#soundFooter{
    box-shadow: 0 0 0px 3px #CC5A5A;
}

#soundFooter > .container {
    position: relative;
}



#submit:hover {
    opacity: .5;
}

#m {
    border: 0;
    padding: 10px;
    width: 80%;
    height: 92%;
    margin-right: .5%;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
}

#submit {
    width: 18%;
    height: 52px;
    float: right;
    text-align: center;
    background-color: #4AB471;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    margin-top: -2px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

/*---------------------------------------------
-------------------- Sounds -------------------
---------------------------------------------*/
#playGroupListBtn {
    font-size: 54px;
    padding: 4px 6px 0px 6px;
    height: 68px;
    color: rgb(63, 63, 63);
    float: right;
    border-radius: 100px;
    margin: -26px -1px 0px 0px;
}

#playGroupListBtn:hover {
    color: rgb(250, 131, 131);
}

#groupListPlaceHolder{
    text-align: center;
    color: #777;
}

#sounds li{
    overflow: hidden;
    padding: 15px 10px;
}

#sounds li .glyphicon {
    padding-right: 5px;
    cursor:pointer;
}

#sounds li:nth-child(even) {
    background-color: rgba(0, 158, 82, 0.29)
}

#trackText {
    float: left;
    width: 80%;
}


#addControl{
    opacity: 0;
    float: right;
    font-size: 27px;
    margin: -9px -13px -15px 0px;
    padding: 2px;
    background-color: rgba(95, 155, 160, 0);
}

#sounds li #addControl{
    opacity: 1;
}

#sounds li:nth-child(odd) #addControl {
    color: rgb(151, 204, 214);
}

#sounds li:nth-child(even) #addControl {
    color: rgb(189, 189, 189);
}

#groupList{
    list-style: none;
}

.media-object {
    width: 50px;
}

#voteConsole{
    float: right;
    border-radius: 100px;
    width: auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 4px 1px 4px;
    margin-right: 15px;
    background-color: rgb(250, 131, 131);
}

.groupListScore {
    font-size: 28px;
    float: right;
    border-radius: 100px;
    width: auto;
    text-align: center;
    padding: 2px 4px 2px 4px;
    background-color: rgb(250, 131, 131);
}

#GLscoreDiv{
    padding: 5px 15px 0px 0px;
}

#row {
margin: 25px 0px 0px 0px;
}

.playBar{
    background-color: rgba(173, 173, 173, 0.55);
    border-radius: 5px;
    height: 50px;
    font-size: 27px;
    background: linear-gradient(to bottom, rgba(207, 207, 207, 0.58) 0%,rgba(134, 134, 134, 0.54) 100%);
    z-index: 1;
    position: absolute;
    width: inherit;
    min-width: 100%;
}

.positionBar{
    box-sizing: border-box;
    border-radius: 5px;
    width: 0px;
    background-color: rgba(255, 23, 3, 0.55);
    z-index: 0;
    height: 50px;
    position: absolute;
}


.progress-bar {
    background-repeat: repeat;
    background-color: rgba(11, 100, 47, 1);
    -webkit-transition: width 0.1s ease !important;
     -moz-transition: width 0.1s ease !important;
       -o-transition: width 0.1s ease !important;
          transition: width 0.1s ease !important;
}

#loadingSongDiv {
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    background-image: -moz-linear-gradient(top, rgba(73, 73, 73, 0), rgba(12, 12, 12, 0));
    background-image: -ms-linear-gradient(top, rgba(73, 73, 73, 0), rgba(12, 12, 12, 0));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(73, 73, 73, 0)), to(rgba(12, 12, 12, 0)));
    background-image: -webkit-linear-gradient(top, rgba(73, 73, 73, 0), rgba(12, 12, 12, 0));
    background-image: -o-linear-gradient(top, rgba(73, 73, 73, 0), rgba(12, 12, 12, 0));

}

#trackInfo {
    color:antiquewhite;
}

#trackInfo > h4 {
    margin: 3px 0px -3px 0px;
    white-space:nowrap;
    overflow:hidden;
}

.playControl{
    padding-top: 8px;
    color: rgba(0, 0, 0, 0.83);
    cursor: pointer;
}

.well {
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.groupListDescription{
    color: #858585;
}

.upVote{
    cursor: pointer;
}

.selectedVote{
    color: white;
}

.downVote{
    cursor: pointer;
}

#removeDiv{
    font-size:17px;
}

#removeDiv > span{
    float: right;
    margin: 2px 2px 1px 0px;
    cursor: pointer;
}

.media > .indexContainer{
    width: auto;
    background-color: rgba(0, 0, 0, 0.32);
    margin-right: 0px;
    height: 50px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    display: inline-block;
    border-top-left-radius: 3px;
    color: #ffffff;
    font-size: 28px;
    border-bottom-left-radius: 28px;
    background: rgba(0, 196, 101, 0.4); /* Old browsers */
}
.media.userTrack > a > .media-object{
    width: 70px;
}

.media.userTrack > .indexContainer{
    height: 70px;
    background: rgb(255, 103, 103); /* Old browsers */
}

/*---------------------------------------------
------------------ SuperSlides ----------------
---------------------------------------------*/

#slides{
    overflow: scroll;
    z-index: 0;
}

.slides-container {
    top: 41px;
}

.slides-navigation{
    opacity: 0.6;
    font-size: 30px;
}

.carousel-control:hover, .carousel-control:focus {
    opacity: .5;
}

/*---------------------------------------------
------------------ Loading Spinner ------------
---------------------------------------------*/

.spinner {
    display: none;
    height: 50px;
    text-align: center;
    font-size: 10px;
    width: 50%;
    margin: 0 auto;
}

.spinner > div {
  background-color: #CC5A5A;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*---------------------------------------------
---------------- icoMoon icon Css -------------
---------------------------------------------*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mpql9z');
	src:url('fonts/icomoon.eot?#iefixmpql9z') format('embedded-opentype'),
		url('fonts/icomoon.woff?mpql9z') format('woff'),
		url('fonts/icomoon.ttf?mpql9z') format('truetype'),
		url('fonts/icomoon.svg?mpql9z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
	content: "\e600";
}

.icon-stop {
    position: relative;
    top: -2px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}